<h1> Weclome to my first firebase Rails app! </h1>

<form class="firebase-form">
  Title:<br>
  <input type="text" name="title"><br>
  Author:<br>
  <input type="text" name="author"><br>
  City:<br>
  <input type="text" name="city"><br>
  State:<br>
  <input type="text" name="state"><br>
  Zip:<br>
  <input type="text" name="zip"><br>
</form>
<br>
<button id="submit">Submit</button>
<button id="fb-data">Get Firebase Data</button>

<div id="realtime-firebase-data"></div>
